/* .navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar {
  justify-content: flex-start;
}

.navbar .navbar-brand i {
  font-size: 40px;
  margin-right: 10px;
}

.navbar .navbar-brand .text {
  line-height: 1;
}

.navbar .navigation-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .navigation-links .navigation-link {
  margin-right: 10px;
}

.navbar .navigation-links .navigation-link:last-of-type {
  margin-right: 0;
}

h1 {
  margin-bottom: 50px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.input-design {
  padding: 0 3px 0 3px;
}

label {
  width: 100%;
  text-align: center;
  font-size: 15px;
}

form .form-btn {
  display: flex;
  justify-content: center;
}

form .form-btn button {
  width: 50%;
}

.alert {
  font-size: 20px;
}

.options-yes-no {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 20px;
  margin: 0px 0px 16px;
}

thead tr {
  background-color: yellow;
}

table .icons {
  display: flex;
  justify-content: space-evenly
}

table th i {}

table thead tr th i {
  color: #D3D3D3;
  height: 18px !important;
}

table thead tr th.col-2 {
  display: flex;
  justify-content: center;
  padding: 18px;
  padding: 5px 0;
  border: 1px solid grey;
  text-align: center;
  flex-grow: 1;
  font-size: 16px;
}

.active-row {
  background-color: #44eeaa !important;
}

.filter-id-up, .filter-first_name-up, .filter-last_name-up, .filter-age-up, .filter-ftd-up {
  cursor: pointer;
  vertical-align: top;
  font-size: 20px;
}

.filter-id-down, .filter-first_name-down, .filter-last_name-down, .filter-age-down, .filter-ftd-down {
  cursor: pointer;
  vertical-align: bottom;
  margin-left: -25px;
  font-size: 20px;
}

.active-filter {
  color: #000;
}

table input {
  text-align: center;
}

.menu-options .input-group {
  display: flex;
  align-items: center;
  width: 20%;
}

div.show {
  margin-right: 10px;
}

div.entries {
  margin-left: 10px;
}

footer nav div {
  display: flex;
  justify-content: center;
}

.list-pagination button {
  width: 50px;
  height: 50px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #44aaee;
  margin: 5px;
  transition: 0.4s;
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.list-pagination .prev-next {
  width: 80px;
}

.list-pagination button:hover {
  background-color: #44eeaa;
}

.list-pagination button.active {
  background-color: #44eeaa;
}

@media(max-width: 768px) {
  .menu-options .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }
  label {
    font-size: 11px;
    font-weight: bold;
  }
}

@media(max-width: 375px) {
  
  .menu-options .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }
  label {
    font-size: 11px;
    font-weight: bold;
  }
  .strip-title {
    flex-grow: 1;
    width: 100%;
    display: block;
    text-align: center;
  }
  .icons .fas {
    font-size: 16px;
    margin: 0 3px;
  }
  .btn-group-sm>.btn, .btn-sm {
    padding: 1px 5px;
    font-size: 10px;
    line-height: normal;
    border-radius: .2rem;
  }
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global settings */

p {
  margin: 0;
  font-size: 2rem;
}

i {
  font-size: 2rem;
}

.header .navbar {
  display: flex;
  justify-content: flex-start;
}

.header .navbar p {
  padding-left: 1rem;
}

.container h1 i {
  font-size: 3rem;
}

#person-form .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#person-form .inner .input-design .form-group label {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.form-btn button {
  width: 50%;
  margin: 0 auto;
}

div.alert.alert-info {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-options .input-group div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.entries, div.select {
  margin-left: 10px;
}

.menu-options .input-group div span {
  font-size: 1.2rem;
}

thead tr {
  background-color: yellow;
}

table thead tr th {
  display: flex;
  justify-content: center;
}

.sorting-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sorting-wrapper i {
  cursor: pointer;
  line-height: 0;
  height: 0;
}

.sorting-wrapper i.fa-sort-up {
  display: inline-block;
  margin-top: 2px;
}

.active-filter {
  color: #ccc;
}

.active-row {
  background-color: #44eeaa !important;
}

.options-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

footer nav div {
  display: flex;
  justify-content: center;
}

.list-pagination button {
  width: 50px;
  height: 50px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #44aaee;
  margin: 5px;
  transition: 0.4s;
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.list-pagination .prev-next {
  width: 80px;
}

.list-pagination button:hover {
  background-color: #44eeaa;
}

.list-pagination button.active {
  background-color: #44eeaa;
}