* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global settings */

p {
  margin: 0;
  font-size: 2rem;
}

i {
  font-size: 2rem;
}

.header .navbar {
  display: flex;
  justify-content: flex-start;
}

.header .navbar p {
  padding-left: 1rem;
}

.container h1 i {
  font-size: 3rem;
}

#person-form .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#person-form .inner .input-design .form-group label {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.form-btn button {
  width: 50%;
  margin: 0 auto;
}

div.alert.alert-info {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-options .input-group div {
  display: flex;
  align-items: center;
}

.menu-options-b {
  display: none !important;
}

div.entries, div.select, div.sort {
  margin-left: 10px;
}

.menu-options .input-group div span {
  font-size: 1.2rem;
}

thead tr {
  background-color: yellow;
}

table thead tr th {
  display: flex;
  justify-content: center;
}

.sorting-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sorting-wrapper i {
  cursor: pointer;
  line-height: 0;
  height: 0;
}

.sorting-wrapper i.fa-sort-up {
  display: inline-block;
  margin-top: 2px;
}

.active-filter {
  color: #ccc;
}

.active-row {
  background-color: #44eeaa !important;
}

.options-wrapper {
  display: flex;
  justify-content: space-around;
}

footer nav div {
  display: flex;
  justify-content: center;
}

.list-pagination button {
  width: 50px;
  height: 50px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #44aaee;
  margin: 5px;
  transition: 0.4s;
  color: #fff;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.list-pagination .prev-next {
  width: 80px;
}

.list-pagination button:hover {
  background-color: #44eeaa;
}

.list-pagination button.active {
  background-color: #44eeaa;
}

@media(max-width: 1235px) {
  .container {
    max-width: 90%;
  }
  div.input-design {
    margin: 5px;
  }
}

@media(max-width: 970px) {
  #person-form .inner {
    flex-direction: column;
  }
  #person-form .inner .input-design {
    width: 50%;
  }
}

@media(max-width: 768px) {
  h1 {
    font-size: 2.5rem !important;
  }
  .header .navbar {
    justify-content: center;
  }
  #person-form .inner .input-design {
    width: 60%;
  }
  .form-btn button {
    width: 80%;
  }
  .fas.fa-edit, .fas.fa-save {
    font-size: 28px;
  }
  .options-wrapper {
    justify-content: center;
    align-items: center;
  }
  .options-wrapper div {
    padding: 0 3px;
  }
  div.alert.alert-info {
    display: flex;
    flex-direction: column;
  }
  .options-yes-no {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    display: inline-block;
    text-align: center;
  }
  .options-yes-no .btn.btn-primary.yes-btn, .options-yes-no .btn.btn-primary.no-btn {
    margin: 0 auto;
  }
  thead tr.row {
    display: none;
  }
  tbody tr.row {
    flex-direction: column;
    width: 60%;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  tbody tr.row td.col-2 {
    max-width: 60% !important;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    background-color: none;
  }
  .fas.fa-edit, .fas.fa-save {
    font-size: 32px;
  }
  .btn-danger {
    height: 25px;
    font-size: 11px;
  }
  .table td, .table th, .table thead th {
    border: none;
  }
  .btn-danger {
    height: 28px;
    font-size: 12px;
  }
  .menu-options .input-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .menu-options-b {
    display: flex !important;
    flex-direction: row !important;
  }
  .menu-options-a, .menu-options-b {
    display: flex;
    width: 275px;
  }
  .menu-options-a {
    justify-content: flex-start;
  }
  .custom-select {
    width: 105px !important;
  }
}